<h2>Budjetit</h2>
<p>Budjetteja voidaan luoda ja editoita valitsemalla valikosta <%= link_to _('Budgets'), :controller => :budgets, :action => :list %>.</p>
<p>Budjetti luodaan valitsemalla <%= link_to _('New budget'), :controller => :budgets, :action => :new %>. T&auml;m&auml; avaa n&auml;kym&auml;n jossa voidan valita tilikausi jolle budjetti tehd&auml;&auml;n ja kirjoittaa sille selite. Selite voi olla esimerkiksi 'Ensimm&auml;inen arvio' tai 'Lis&auml;arvio'.</p>
<p>Budjetti sis&auml;lt&auml;&auml; tiedon tilien arvioidusta rahaliikenteest&auml;, eli miten paljon tuloja tai menoja tietylle tilille kohdistuu. N&auml;it&auml; tietoja p&auml;&auml;see muokkaamaan klikkaamalla kyn&auml;-ikonia <%= image_tag '/images/edit.gif' %>. T&auml;m&auml;n linkin takaa avautuu n&auml;kym&auml; jossa n&auml;hd&auml;&auml;n kaikki tilikaudelle kuuluvat tilit ja niille budjetissa asetetut arviot. T&auml;st&auml; n&auml;kym&auml;st&auml; l&ouml;ytyy my&ouml;s linkki josta voidaan muokata budjetin selitett&auml;.</p>
<p>Budjetin tilikohtaisia tietoja muokatessa voidaan pienent&auml;&auml; tai suurentaa eri tiliryhm&auml;t klikkaamalla t&auml;m&auml;n otsikkoa.</p>
<p>Tili valitaan mukaan budjettiin ruksaamalla sen kohdalla oleva kentt&auml;. T&auml;m&auml;n j&auml;lkeen tilille voidaan sy&ouml;tt&auml;&auml; summa. Vain tilit jotka on valittu tallennetaan mukaan budjettiin. Mik&auml;li tili valitaan pois budjetista poistetaan samalla sille asetettu summa.</p>
<p>Budjetin loppusumma n&auml;kyy tilien j&auml;lkeen sinisell&auml; taustalla. Jos haluaa nopeasti n&auml;hd&auml; budjetin lopputuloksen niin voi pienent&auml;&auml; kaikki tiliryhm&auml;t, jolloin koko taulukko mahtunee ruudulle hyvin.</p>