<h2>Hankintamenon jaksottaminen</h2>
<p>Hankintameno voidaan jaksottaa usealle vuodelle. Tyypillisesti kulu jaetaan yht&auml; moneen yht&auml; suureen osaan kuin miten monelle vuodelle se jaksotetaan. Jos kulu jaksotetaan esimerkiksi kolmelle vuodelle merkit&auml;&auml;n yksi kolmasosa siit&auml; kuluksi joka vuonna. Tavaran laskusta aktivoidaan taseeseen se osa kulusta jota ei merkit&auml; kuluksi kuluvana vuonna.