<h2>Menotilit</h2>
<p>Menot syntyv&auml;t ns. tuotannontekij&ouml;iden hankinnasta. N&auml;it&auml; ovat Tietokillan tapauksessa esim. haalarit, liput tapahtumiin, jne. Menot kirjataan tililleen seuraavan periaatteen mukaisesti:</p>
<p><img src="images/menotilin-kirjaus.png" alt="Kuva: menotilin kirjaukset" width="681" height="109" /></p>
<p>Menon vastakirjaus tulee yleens&auml; jonkin rahoitustilin kredit-puolelle. Meno aiheuttaa siis rahan v&auml;henemisen ja velan lis&auml;&auml;ntymisen, joka kirjataan asianomaisen tilin kredit-puolelle. N&auml;in ollen menotilille kirjaus tulee debet-puolelle.</p>
<p>Menon v&auml;hennyksi&auml; voivat aiheuttaa seim. k&auml;teisalennukset tai hyvityslaskut. T&auml;ll&ouml;in kirjaus on k&auml;&auml;nteinen menon lis&auml;ykseen n&auml;hden. Kirjaus tulee siis menotilin kredit-puolelle ja rahoitustilin debet-puolelle.</p>
