<h2>Tilitapahtumat</h2>
<p>Tilitapahtumat valikosta p&auml;&auml;st&auml;&auml;n selaamaan p&auml;iv&auml;kirjaa ja lis&auml;&auml;m&auml;&auml;n tilitapahtumia.</p>
<p>Tilitapahtumia lis&auml;t&auml;&auml;n sivun yl&auml;laidasta l&ouml;ytyv&auml;ll&auml; lomakkeella. Lomake on esit&auml;ytetty uusimman tilitaphtuman tiedoilla s.e. tositenumeroa on kasvatettu yhdell&auml;. Tilitapahtuman kentiss&auml; on automaattinen t&auml;ydennys, eli riitt&auml;&auml; ett&auml; esim. tilinumerosta sy&ouml;tt&auml;&auml; ensimm&auml;iset kirjaimet niin ohjelma avaa valikon josta voi valita haluamansa tilin.</p>
<p>Tilitapahtumia voi etsi&auml; sy&ouml;tt&auml;m&auml;ll&auml; hakuehtoja sivun yl&auml;laidasta l&ouml;ytyv&auml;&auml;n kentt&auml;&auml;n. Sivulla n&auml;ytet&auml;&auml;n ne tilitapahtumat joitten tiedot t&auml;sm&auml;&auml;v&auml;t hakuehtoihin. Haku toimii kaikilla kentill&auml;, mutta formaatin tulee olla SQL-standardin mukainen. T&auml;m&auml; tarkoittaa sit&auml; ett&auml; summan tulee k&auml;ytt&auml;&auml; pistett&auml; eik&auml; pilkkua desimaalierottimena ja p&auml;iv&auml;m&auml;&auml;r&auml;n tulee olla muotoa VUOSI-KUUKAUSI-P&Auml;IV&Auml; (YYYY-MM-DD).</p>
<p>Tilitapahtumia voi muokata klikkaamalla kyn&auml;-ikonia <%= image_tag '/images/edit.gif' %>. Niit&auml; voi poistaa klikkaamalla ruksia <%= image_tag '/images/cancel.gif' %>  ja valitsemalla 'Ok' kun ohjelma pyyt&auml;&auml; varmistamaan toiminnon.</p>