<h2>Tililuettelo</h2>
<p>Kirjanpitolaki velvoittaa jokaista kirjanpitovelvollista s&auml;ilytt&auml;m&auml;&auml;n kirjallisessa muodossa oleva tililuettelo k&auml;ytt&ouml;aikaa koskevilla merkinn&ouml;ill&auml; varustettuna. Tililuettelo koostuu yleens&auml; tilien numeroista ja nimist&auml;. Tilin nimi kuvailee yleens&auml; sen sis&auml;lt&ouml;&auml; ja kirjanpitolaki ei vaadi ett&auml; tililuettelo sis&auml;lt&auml;&auml; muita selityksi&auml; taikka kirjausohjeita. On kuitenkin hyv&auml;n kirjanpitotavan mukaista oheistaa tililuetteloon tilien k&auml;ytt&ouml;tarkoitusta ja sis&auml;lt&ouml; selvent&auml;vi&auml; selityksi&auml; ja ohjeita. T&auml;m&auml; on erityisen t&auml;rke&auml;t&auml; Tietokillan kaltaisen yhdistyksen osalta jossa kirjanpidosta vastaava henkil&ouml; vaihtuu vuosittain.        Hyvill&auml; ohjeilla voidaan helpoittaa uuden henkil&ouml;n teht&auml;vien omaksumista huomattavasti.</p>
<p>Tililuettelon laajuus vaihtelee liiketoiminnan luonteen ja kirjanpidolle asetettavien vaatimusten mukaan. Tietokillassa esimerkiksi halutaan eritell&auml; haalarimerkkimyyntitulot muista tuloista, mutta tuloja ei eritell&auml; merkkikohtaisesti.</p>
<p>Tililuettelon j&auml;rjestys voi m&auml;&auml;r&auml;yty&auml; tuloslaskelma- ja tasekaavojen mukaan, jolloin j&auml;rjestys on helppo muistaa. Tietokoneistetussa kirjanpidossa tilit on numeroitava, mik&auml; ei manuaalisessa kirjanpidossa ole v&auml;ltt&auml;m&auml;t&ouml;nt&auml;.</p>
<p>Eri tilikausien tilinp&auml;&auml;t&ouml;sten vertailtavuuden varmistamiseksi kirjanpitolaki edellytt&auml;&auml;, ett&auml; jokaisen tilin on pysytt&auml;v&auml; sis&auml;ll&ouml;lt&auml;&auml;n samana. Tilien sis&auml;lt&ouml; voidaan kuitenkin muuttaa toiminnan kehityksen, tililuettelon muutoksen tai muun erityisen syyn vuoksi. Muutokset pyrit&auml;&auml;n tekem&auml;&auml;n aina tilikauden vaihtuessa. Mik&auml;li kesken tilikauden otetaan k&auml;ytt&ouml;&ouml;n uusia tilej&auml; on aiemmat saman tilikauden asianomaiset kirjaukset oikaistava. Tietokillassa voitaisiin esimerkiksi p&auml;&auml;tt&auml;&auml; kesken tilikauden erotella eri haalarimerkkien myynnit omille tileilleen, t&auml;ll&ouml;in tulisi aiemmin haalarimerkkimyynti-tilille tehdyt kirjaukset erotella oikaisukirjauksilla merkkikohtaisille tileille. </p>
