<h2>Tilinp&auml;&auml;t&ouml;stilit</h2>
<p>Tilikauden p&auml;&auml;ttyess&auml; laaditaan tilinp&auml;&auml;t&ouml;s T&auml;t&auml; varten tarvitaan tilinp&auml;&auml;t&ouml;stilit <em>Tulostili</em> ja <em>Tasetili</em>. Tilinp&auml;&auml;t&ouml;ksess&auml; kaikki tilikauden aikana k&auml;ytetyt tilit p&auml;&auml;tet&auml;&auml;n tilinp&auml;&auml;t&ouml;stileille. Kultakin raha- ja saatavatililt&auml;, p&auml;&auml;omatililt&auml;, menotililt&auml; ja tulotililt&auml; lasketaan saldo, joka merkit&auml;&auml;n pienem&auml;lle puolelle ja joko Tulos- tai Tasetilille vastakkaiselle puolelle.</p>
<p>Tulostilin avulla selvitet&auml;&auml;n tehtiink&ouml; tilikaudella voittoa vai tappiota. Tulostilille p&auml;&auml;tet&auml;&auml;n kaikki tilikaudelle kuuluvat menot ja tulot. Tulo kuuluu tilikaudelle jolla suorite on luovutettu asiakkaalle. Tilikaudelle kuuluvia tuloja nimitet&auml;&auml;n tuotoiksi. Tuotoista v&auml;hennet&auml;&auml;n kuluina tilikaudelle kuuluvat menot. N&auml;m&auml; ovat ne menot joista ei odoteta tuloja tulevina tilikausina, eli esim. myytyjen tavaroiden hankintamenot. N&auml;it&auml; menoja kutsutaan siis kuluiksi.</p>
<p>Tasetilille p&auml;&auml;tet&auml;&auml;n kaikki raha- ja saatavatilit sek&auml; p&auml;&auml;omatilit. Tasetilille p&auml;&auml;tet&auml;&auml;n my&ouml;s menotilien menoj&auml;&auml;nn&ouml;kset, eli ne osat menoista joista odotetaan tuloja tulevina tilikausina. N&auml;it&auml; ei saa kirjata p&auml;&auml;tett&auml;v&auml;n tilikauden kuluiksi sill&auml; tulo niist&auml; on viel&auml; saamatta. Esimerkiksi jos on ostettu tuote j&auml;lleenmyyntiin, mutta sit&auml; ei olla myyty eteenp&auml;in ei sen hankintamenoa voida merkit&auml; kuluksi. Menojen kirjaamista tasetilille sanotaan menojen aktivoimiseksi. Tietokillassa on aktivoitu esim. haalarimerkit taseeseen sill&auml; niit&auml; tilataan kerralla moneksi vuodeksi eteenp&auml;in. Aiemmin aktivoituneista menoista deaktivoidaan se osa josta tulot on saatu p&auml;&auml;tett&auml;v&auml;ll&auml; tilikaudella, eli haalarimerkkien osalta deaktivoidaan myytyjen haalarimerkkien hankitamenot taseesta.</p>
<p><img src="images/tulostilin-kirjaus.png" alt="Kuva: tulostilin kirjaukset" width="363" height="109" /> </p>
<p>Tilikauden tulos lasketaan Tulostilin tuottojen ja kulujen erotuksena. Mik&auml;li tuotot ovat suuremmat kuin kulut on tilikausi voitollinen, muutoin se on h&auml;vi&ouml;llinen (tai sitten tehtiin nollatulos).  Tilikauden voiton/tappion kirjaamisen j&auml;lkeen tulostilin saldon tulee olla 0. </p>
<p><img src="images/tasetilin-kirjaus.png" alt="Kuva: tasetilin kirjaukset" width="491" height="109" /></p>
<p>Kun kaikki tilit on p&auml;&auml;tetty joko Tulos- tai Tasetilille lasketaan Tulostilin saldo ja kirjataan se Tasetilille. T&auml;ll&ouml;in my&ouml;s Tasetili menee tasan, mik&auml;li n&auml;in ei kuitenkaan ole on kirjanpidossa jokin virhe ja se tulee pikimmiten tarkistaa.    </p>
