<h2>Tilikauden kirjanpidon vaiheet</h2>
<p>Kirjanpidossa on kolme p&auml;&auml;vaihetta: tilinavaus, jatkuva kirjanpito (eli liiketapahtumien kirjaaminen) ja tilinp&auml;&auml;t&ouml;s.  </p>
<h3>Tilinavaus</h3>
<p>Tilinavauksessa merkit&auml;&auml;n alkusaldot tileille. T&auml;m&auml; tehd&auml;&auml;n edelt&auml;v&auml;n tilikauden tilinp&auml;&auml;t&ouml;ksen pohjalta. Kaikille niille tileille, joiden saldot on tilinp&auml;&auml;t&ouml;ksess&auml; p&auml;&auml;tetty Tasetilille, merkit&auml;&auml;n sama raham&auml;&auml;r&auml; alkusaldoksi. N&auml;it&auml; tilej&auml; ovat raha- ja saatavatilit sek&auml; p&auml;&auml;omatilit. My&ouml;s menoj&auml;&auml;nn&ouml;kset kirjataan alkusaldoksi asianomaisille menotileille. Alkusaldo merkit&auml;&auml;n sille puolelle tili&auml;, joilla raham&auml;&auml;r&auml; on Tasetilille.               </p>
<h3>Liiketapahtumien kirjaaminen</h3>
<p>Tilikauden aikana liiketapahtumat kirjataan tositteiden perusteella kirjanpitoon. Kirjanpitolaki edellytt&auml;&auml; ett&auml; liiketapahtumat kirjataan sek&auml; aika- ett&auml;     asiaj&auml;rjestykseen. Kirjaamista varten tositteet numeroidaan, mink&auml; j&auml;lkeen ne kirjataan aikaj&auml;rjestykseen <em>p&auml;iv&auml;kirjaan </em>ja asiaj&auml;rjestykseen <em>p&auml;&auml;kirjaan</em>.   P&auml;iv&auml;kirjassa seurataan mit&auml; mihinkin aikaan on tapahtunut, siit&auml; voidaan helposti n&auml;hd&auml; liiketapahtumien aikaj&auml;rjestys ja esim. vuodenaikaan liittyv&auml;t vaihtelut. P&auml;&auml;kirjassa vuorostaan seurataan liiketapahtumia tilikohtaisesti, eli siit&auml; n&auml;hd&auml;&auml;n helposti esim. kaikki haalarimerkkimyyntiin liittyv&auml;t tilitapahtumat.      </p>
<h3>Tilinp&auml;&auml;t&ouml;s  </h3>
<p>Tilinp&auml;&auml;t&ouml;s laaditaan, kuten yll&auml; n&auml;htiin, p&auml;&auml;tt&auml;m&auml;ll&auml; kaikki tilikaudella k&auml;ytetyt tilit joko Tulos- tai Tasetilille. T&auml;m&auml;n lis&auml;ksi on laadittava viel&auml; tilinp&auml;&auml;t&ouml;sraportit joita ovat toimintakertomus, Tulostilin perusteella laadittava tuloslaskelma, Tasetilin perusteella laadittava tase, tuloslaskelman ja taseen liitetiedot sek&auml; tase-erittely.</p>
