<h2>Tositteet</h2>
<p>Jokaisen liiketapahtuman kirjauksen tulee perustua tositteeseen. Tositteen teht&auml;v&auml;n&auml; on toimia todisteena liikatapahtumasta. Tositteen tulee mieluiten olla ulkopuolisen antama, esim. kuitti, tiliote, jne. Joitain tositteita laaditaan kuitenkin itse, esimerkiksi jos joku maksaa killan j&auml;senyyden k&auml;teisell&auml; kirjoitetaan t&auml;st&auml; kuitti jonka yksi osa tulee tositteeksi kirjanpitoon ja toinen osa annetaan j&auml;senyytens&auml; maksaneelle henkil&ouml;lle. Tositteiden tulee olla laadittuja pysyv&auml;ll&auml; tavalla, eli lyijykyn&auml;&auml; ei saa k&auml;ytt&auml; ja musteen pit&auml;&auml; olla arkistointikelpoista jos se tulostetaan.</p>
<p>Tositteiden tulee olla p&auml;iv&auml;ttyj&auml; jotta niist&auml; n&auml;hd&auml;&auml;n liiketapahtuman ajankohta. T&auml;m&auml;n lis&auml;ksi tositteet numeroidaan kirjanpitoa varten. Tositteesta tulee my&ouml;s k&auml;yd&auml; ilmi mit&auml; tuotteita ja/tai palveluita se koskee, mille tilille se kirjataan ja tietysti rahasumma.</p>
<p>Tositteet on s&auml;ilytett&auml;v&auml; v&auml;hint&auml;&auml;n kuusi vuotta sen vuoden lopusta, jonka aikana tilikausi on p&auml;&auml;ttynyt. Ne voidaan s&auml;ilytt&auml;&auml; paperituloisteina tai koneellisilla tietov&auml;lineill&auml;.</p>