<h2>Tulotilit</h2>
<p>Yhdistys saa tuloja kun se luovuttaa tuotteita asiakkailleen (j&auml;senilleen). Tietokilta saa tuloja esim. haalarimerkkien ja tapahtumalippujen myynnist&auml;. Tulot kirjataan seuraavan periaatteen mukaan:</p>
<p><img src="images/tulotilin-kirjaus.png" alt="Kuva: tulotilin kirjaukset" width="442" height="109" />      </p>
<p>Tulo aiheuttaa vastakirjauksen rahoitustilin debet-puolelle. Tulon seurauksena rahat tai saatavat lis&auml;&auml;ntyv&auml;t. Koska rahan lis&auml;ys tulee debet-puolelle, tulee kirjaus tulotilin kredit-puolelle.</p>
