<%= error_messages_for 'fiscal_period' %>

<!--[form:fiscal_period]-->
<p><label for="fiscal_period_startdate"><%=_ "Startdate"%></label><br/>
<%= date_select 'fiscal_period', 'startdate'  %></p>

<p><label for="fiscal_period_enddate"><%=_ "Enddate"%></label><br/>
<%= date_select 'fiscal_period', 'enddate'  %></p>
<!--[eoform:fiscal_period]-->

