<h1><%= _"Editing fiscal_period" %></h1>

<% form_tag :action => 'update', :id => @fiscal_period do %>
  <%= render :partial => 'form' %>
  <%= submit_tag _('Edit') %>
<% end %>

<%= link_to _('Show'), :action => 'show', :id => @fiscal_period %> |
<%= link_to _('Back'), :action => 'list' %>
