<% for column in FiscalPeriod.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @fiscal_period.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @fiscal_period %> |
<%= link_to 'Back', :action => 'list' %>
