<% for column in FiscalPeriod.content_columns %>
<p>
  <b><%= _ column.human_name %>:</b> <%=h @fiscal_period.send(column.name) %>
</p>
<% end %>

<%= link_to _('Edit'), :action => 'edit', :id => @fiscal_period %> |
<%= link_to _('Back'), :action => 'list' %>
