<h1>Editing entry</h1>

<% form_tag :action => 'update', :id => @entry do %>
<%= submit_tag 'Edit' %>
<table class="details">
  <%= render :partial => 'entry' %>
<% end %>
</table>

<%= link_to 'Show', :action => 'show', :id => @entry %> |
<%= link_to 'Back', session[:return_to] %>
