<h1><%=_"New entry"%></h1>

<% form_tag ({:action => 'create'}) do %>
  <%= render :partial => 'form' %>
  <%= submit_tag _("Create") %>
<% end %>
<%= link_to _('Back'), :action => 'list' %>
<%= javascript_tag("$('entry_description').select();") %>
