<table class="details">
<% i = 0; %>
<% for column in Entry.content_columns %>
    <% i += 1; %>
    <tr class="<%= if i % 2 == 0
        "even_row"
    else
        "odd_row"
    end    
    %>">
  <th class="details"><%=_ column.human_name %>:</th>
  <td class="details"><%=h @entry.send(column.name) %></td>
</tr>
<% end %>
</table>

<%= link_to _('Edit'), :action => 'edit', :id => @entry %> |
<%= link_to _('Back'), :action => 'list' %>
