<h1><%=_"Editing budget"%></h1>

<% form_tag :action => 'update', :id => @budget do %>
  <%= render :partial => 'form' %>
  <%= submit_tag _('Edit') %>
<% end %>

<%= link_to _('Show'), :action => 'show', :id => @budget %> |
<%= link_to _('Back'), :action => 'list' %>
