/**
 *  Required styles for page formatting
 */
html, body {
  height: 100%; /* Required */
  width: 100%; /* Required */
}
body {
  font-family:        verdana, arial, helvetica, sans-serif;
  font-size:          13px;
  padding:            0px;
  margin:             0px;
  border:             0px;
  background:         #F7F6F2 url("/images/tausta.png") repeat-x top;
}

#container-page {
  margin:             0 auto;
  background:         #fff;
  text-align:         left;
  position:           relative;
  min-height:         100%; /* For Modern Browsers */
  height:             auto !important; /* For Modern Browsers */
  height:             100%; /* For IE */
  width:              100%; /* Required */
  padding-bottom:     22px;
}
#footer {
  color:              #ffffff;
  font-weight:        bold;
  
  clear:              both;
  text-align:         center;
  margin:             0;
  padding:            .5em;
  position:           absolute;
  bottom:             0px !important;
  bottom:             -1px; /* For Certain IE widths */
  border-top:         2px solid #42782d;
  background:         #71a24d;
  left:               0px;
  right:              0px;
}
#content {
  background:         none;
  padding:            20px;
}

div #table {
  margin-top: 20px;
}

.header_top {
  background:         #71a24d  no-repeat top left;
  height:             64px;
}

.header_bottom {
  background:         #42782d url("/images/logo_bottom.gif") no-repeat top left;
  height:             38px;
  vertical-align:     bottom;
  text-align:         right;
  border-bottom:      1px solid #000;
}
img {
  border:             none;
}

.errors {
  float:              right;
}

/**
 *  Text styles
 */
h1 {
  padding:            5px 0px 5px 0px;
  font-size:          25px;
}


/**
 *  Table styles
 */
table {
  width:              100%;
  margin:             0px 0px 0px 0px;
  padding:            0px;
  border-right:       1px solid;
  border-bottom:      1px solid;
  border-top:         1px solid;
  border-color:       #000;
  border-spacing:     0px;
  empty-cells:        show;
}
tr {
}
td.heading {
  background-color:   #777;
  border-bottom:      1px solid;
  border-color:       #000;
  font-weight:        bold;
  color:              #fff;
  font-size:          110%;
  padding:            6px;
}
th {
  padding:            3px 6px 3px 6px;
  font-weight:        bold;
  margin:             0px;
  border-left:        1px solid;
  border-color:       #000;
  background-color:   #e7ebdb;
  font-size:          110%;
}
td {
  padding:            3px 6px 3px 6px;
  margin:             0px;
  border-left:        1px solid;
  border-color:       #000;
}

tr.even_row {
  background-color:   #e7ebdb;
}

tr.odd_row {
  background-color:   #fff;
}

/**
 *  Plain table styles
 */
table.plain, tr.plain, td.plain { border-width: 0px; }

/**
 *  Table styles for formatting details
 */
table.details {
  width:              auto;
  margin:             0px 0px 0px 0px;
  padding:            0px;
  border-right:       1px solid;
  border-bottom:      0px solid;
  border-top:         1px solid;
  border-color:       #000;
  border-spacing:     0px;
  empty-cells:        show;
}
tr.details {
}
th.details {
  padding:            3px 6px 3px 6px;
  font-weight:        bold;
  margin:             0px;
  border-left:        1px solid;
  border-bottom:      1px solid;
  border-color:       #000;
  background-color:   #e7ebdb;
  text-align:         right;
  font-size:          110%;
}
td.details {
  padding:            3px 6px 3px 6px;
  margin:             0px;
  border-bottom:      1px solid;
  border-color:       #000;
}
td.total {
  border-top:         1px solid;
  font-size:          110%;
  font-weight:        bold;
}

td.positive {
}

td.negative {
  color: #ff0000;
}

td.alignright {
   text-align: right;
}

/**
 *  General anchor styles
 */
a:link, a:active
{
  color:              #000;
}

a:visited
{
  color:              #666;
}

a:hover, a:focus
{
  color:              #42782d;
	background:					transparent;
	text-decoration:		underline;
}

/**
 *  Header menu anchor styles
 */
div.header_menu {
	width: 			        150px;  /* TODO: Make this dynamic with firefox and IE. */
/*	background:		      #42782d;*/
    background:           #eee;
    height: 37px;
    border: 1px solid #000;
	text-align:         center;
	margin: 		        0px;
    margin-right: 2px;
/*	padding: 		        0px 20px 0px 20px;*/
    float:              right;
}
div.header_menu_selected {
    width: 150px;
    background: #fff;
    color: #000;
    text-align: center;
    margin: 0px;
    height: 37px;
    float: right;
    margin-right: 2px;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #fff;
}
div.header_menu:hover {
	background:		      #fff;
}

a.header, a.header:active
{
  font-size:          16px;
  color:              #000;
  font-weight:        bold;
  line-height:        38px;
  text-decoration:    none;
	display:				    block;
	height:					    38px;
	margin: 				    0px;
	padding: 				    0px;
	text-align:         center;
}

a.header:visited
{
  color:              #000;
}

a.header:hover, a.header:focus
{
  color:              #fff;
  background:         #000;
}

div.auto_complete {
	width: 350px;
	background: #fff;
}
div.auto_complete ul {
	border:1px solid #888;
	margin:0;
	padding:0;
	width:100%;
	list-style-type:none;
}
div.auto_complete ul li {
	margin:0;
	padding:3px;
}
div.auto_complete ul li.selected {
	background-color: #ffb;
}
div.auto_complete ul strong.highlight {
	color: #800;
	margin:0;
	padding:0;
}

.sortup {
	background: #BBF;
}
.sortdown {
	background: #AAF;
}

.sum_positive {
	text-align: right;
	background: #AFA;
}
.sum_negative {
	text-align: right;
	background: #FAA;
}
