/**
 *  Required styles for page formatting
 */
html, body {
  height: 100%; /* Required */
  width: 100%; /* Required */
}
body {
  font-family:        verdana, arial, helvetica, sans-serif;
  font-size:          13px;
  padding:            0px;
  margin:             0px;
  border:             0px;
  background:         #F7F6F2 url("/images/tausta.png") repeat-x top;
}

#container-page {
  margin:             0 auto;
  background:         #fff;
  text-align:         left;
  position:           relative;
  min-height:         100%; /* For Modern Browsers */
  height:             auto !important; /* For Modern Browsers */
  height:             100%; /* For IE */
  width:              100%; /* Required */
  padding-bottom:     22px;
}
#footer {
  color:              #ffffff;
  font-weight:        bold;
  
  clear:              both;
  text-align:         center;
  margin:             0;
  padding:            .5em;
  position:           absolute;
  bottom:             0px !important;
  bottom:             -1px; /* For Certain IE widths */
  border-top:         2px solid #42782d;
  background:         #71a24d;
  left:               0px;
  right:              0px;
}
#content {
  background:         none;
  padding:            20px;
}
.header_top {
  background:         #71a24d url("/images/logo_top.gif") no-repeat top left;
  height:             64px;
}
.header_bottom {
  background:         #42782d url("/images/logo_bottom.gif") no-repeat top left;
  height:             38px;
  vertical-align:     bottom;
  text-align:         right;
}
img {
  border:             none;
}

.errors {
  float:              right;
}

/**
 *  Text styles
 */
h1 {
  padding:            5px 0px 5px 0px;
  font-size:          25px;
}


/**
 *  Table styles
 */
table {
  margin:             20px 0px 20px 0px;
  padding:            0px;
  border-right:       1px solid;
  border-bottom:      1px solid;
  border-top:         1px solid;
  border-color:       #000;
  border-spacing:     0px;
  empty-cells:        show;
}
tr {
}
td.heading {
  background-color:   #777;
  font-weight:        bold;
  color:              #fff;
  font-size:          120%;
  padding:            6px;
}
th {
  padding:            3px 6px 3px 6px;
  margin:             0px;
  border-left:        1px solid;
  border-color:       #000;
  background-color:   #e7ebdb;
  font-size:          110%;
}
td {
  padding:            3px 6px 3px 6px;
  margin:             0px;
  border-left:        1px solid;
  border-color:       #000;
}

tr.even_row {
  background-color:   #e7ebdb;
}

tr.odd_row {
  background-color:   #fff;
}


/**
 *  General anchor styles
 */
a:link, a:active
{
  color:              #000;
}

a:visited
{
  color:              #666;
}

a:hover, a:focus
{
  color:              #000;
  text-decoration:    none;
}


/**
 *  Header menu anchor styles
 */
div.header_menu {
	width: 			        150px;  /* TODO: Make this dynamic with firefox and IE. */
/*	background:		      #42782d;*/
	text-align:         center;
	margin: 		        0px;
/*	padding: 		        0px 20px 0px 20px;*/
  float:              right;
}
div.header_menu:hover {
	background:		      #000;
}

a.header, a.header:active
{
  font-size:          16px;
  color:              #fff;
  font-weight:        bold;
  line-height:        38px;
  text-decoration:    none;
	display:				    block;
	height:					    38px;
	margin: 				    0px;
	padding: 				    0px;
	text-align:         center;
}

a.header:visited
{
  color:              #fff;
}

a.header:hover, a.header:focus
{
  color:              #fff;
  background:         #000;
}

div.auto_complete {
	width: 350px;
	background: #fff;
}
div.auto_complete ul {
	border:1px solid #888;
	margin:0;
	padding:0;
	width:100%;
	list-style-type:none;
}
div.auto_complete ul li {
	margin:0;
	padding:3px;
}
div.auto_complete ul li.selected {
	background-color: #ffb;
}
div.auto_complete ul strong.highlight {
	color: #800;
	margin:0;
	padding:0;
}
