<% for column in User.content_columns %>
<p>
  <b><%=_ column.human_name %>:</b> <%=h @user.send(column.name) %>
</p>
<% end %>

<%= link_to _('Edit'), :action => 'edit', :id => @user %> |
<%= link_to _('Back'), :action => 'list' %>
