<h1>Editing account</h1>

<% form_tag :action => 'update', :id => @account do %>
  <%= submit_tag 'Edit' %>
<table class="details">
  <%= render :partial => 'form' %>
</table>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @account %> |
<%= link_to 'Back', session[:return_to] %>
