<%= error_messages_for 'budget_account' %>

<!--[form:budget_account]-->
<p><label for="budget_account_sum">Sum</label><br/>
<%= text_field 'budget_account', 'sum'  %></p>
<!--[eoform:budget_account]-->

