<h1>New account</h1>

TODO: copy account from previous year...<br />
TODO: mass import?<br />

<% form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<% end %>

<%= link_to 'Back', :action => 'list' %>
